.metronome {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
}

.bpm-slider input {
  width: 100%;
  margin: 10px;
  cursor: pointer;
}

.metronome button {
  background: #c94d46;
  padding: 10px;
  border: 1px solid #581715;
  border-radius: 5px;
  width: 100px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2;
}

.metronome button:hover {
  background: #ca1010;
}
